body {
  background: #e3e3e3;
  font-family: "Josefin Sans", sans-serif;
  font-size: 23px;
}

header h1, form label{
  color: #423a6f;
}
.container {
  max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: #68599e4f;
  max-width: 400px;
  box-shadow: none;
}

.todos li {
  background: #423a6f;
  color: #fff;
}

.delete {
  cursor: pointer;
}

.filtered {
  display: none !important;
}

.btn{
  background: #68599e4f;
  border: 2px solid #68599e4f;
  color: #ffffff;
}

.btn:hover {
  background: #423a6f;
  color: #ffffff;
  border:2px solid #423a6f;
  transition: 0.8s;
}
